PORT=4001

# Database configuration
DATABASE_URL=

# Mail configuration
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=

# JWT configuration
JWT_SECRET_KEY=
JWT_EXPIRATION_TIME=1h

# Storage configuration for cloudflare R2 or compatible services
BUCKET_PRIVATE_ENDPOINT=
BUCKET_ACCESS_KEY=
BUCKET_SECRET_KEY=
BUCKET_REGION=
BUCKET_NAME=
BUCKET_PUBLIC_ENDPOINT=
